# Clion related ignores
.idea/

# Library related ignores
/libs

# Visual Studio related ignores
.vs/

# C++ related ignores
build/

# CMake related ignores
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
